<!-- <p>day3 works!</p> -->

<!-- <div class="d-flex"> -->
    <!-- Oneway binding <br> -->
<!-- 1. interpolation -->
<!-- <h1>{{msg}}</h1> -->

<!-- 2. property binding <br> -->
<!-- <input type="text" [value]="uname">  <br> -->

<!-- 3.event binding  -->
<!-- <div>
    <input type="text" #fname> <br>
    <button (click)="display(fname.value)">Click</button>
</div> -->

<!-- Two way binding -->
<!-- <div>
    <input type="text" [(ngModel)]="empname"><br>
    <button (click)="display1()">Click</button>
    <h4>{{empname}}</h4>
</div> -->

<!-- <div>
    <input type="number" placeholder="fistnum" #fnum> <br>
    <input type="number" placeholder="secondnum" #snum> <br>
    <button (click)="sum(fnum.value,snum.value)">add</button>
    <h4>{{result}}</h4>
</div> -->

<!-- conditional statement -->
<!-- if only  -->
<!-- <div *ngIf="data">Welcome</div> -->

<!-- if else -->
<!-- <div *ngIf="data; else elsedata">Hi,chellom</div>
<ng-template #elsedata>bye,bye</ng-template> -->

<!-- if then else -->
<!-- <div *ngIf="data; then truedata;else falsedata">Hi,kutta</div>
<ng-template #truedata>Welcome chellom</ng-template>
<ng-template #falsedata>Bye kutta</ng-template> -->

<!-- switch case -->
<!-- <div [ngswitch]="day">
    <div *ngSwitchCase="sunny">It's a sunny day.</div>
    <div *ngSwitchCase="cloudy">It's a cloudy day.</div>
    <div *ngSwitchCase="rainy">It's a rainy day.</div>
    <div *ngSwitchDefault>Weather not mentioned.</div>
</div> -->

<ul *ngFor="let s of stud;index as i;even as e;odd as o;first as f;last as l">
    <li>{{s}}-index:{{i}}-Even:{{e}}-odd:{{o}}-first:{{f}}-last:{{l}}</li>
</ul>

<div class="container">
    <table class="table ">
        <tr>
            <th>index</th>
            <th>id</th>
            <th>username</th>
        </tr>
        <tr *ngFor="let i of users;index as a">
            <td>{{a}}</td>
            <td>{{i.id}}</td>
            <td>{{i.username}}</td> 
        </tr>
    </table>
</div>